---
layout: what-we-do-detail.njk
permalink: /what-we-do/infrastructure/
title: Infrastructure, amenity and land use
blocks:
  - type: hero
    title: Infrastructure, amenity and land use
    image: /assets/img/infrastructure.JPG
  - type: framework
    name: VITAL system
    imageCaption: VITAL system diagram to come
  - type: lead
    text: Value Advisory Partners has created a system to help governments, agencies, universities, developers and organisations to integrate transport, land use and delivery models.
  - type: keyProject
    slug: deakin-burwood-srl-station
  - type: publications
    heading: "[Publications to be supplied]"
    items:
      - title: "[Publication title]"
        event: "[Event]"
        date: "[Date]"
        presenters: "[Presenters]"
---
