---
layout: what-we-do-detail.njk
permalink: /what-we-do/precincts/
title: Precincts, planning and development
blocks:
  - type: hero
    title: Precincts, planning and development
    image: /assets/img/precincts.JPG
  - type: lead
    text: When it comes to the planning, design and development of our places, communities and cities, success is dependent on establishing an evidence base that integrates top down and bottom up analysis, i.e. real data and projections/forecasts.
  - type: keyProject
    slug: greenline-city-of-melbourne
  - type: framework
    name: Precinct Impact Tools
    imageCaption: Precinct Impact Tools diagram to come
  - type: clients
    heading: Who we've worked with
    items:
      - name: CSIRO
        logo: /assets/img/csiro-logo.webp
      - name: University of Melbourne
        logo: /assets/img/uom-logo.webp
      - name: Victorian Health Building Authority
        logo: /assets/img/vhba-logo.png
      - name: Victoria Department of Transport and Planning
        logo: /assets/img/vt-logo.webp
      - name: UDIA
        logo: /assets/img/udia-logo.webp
---
