<section class="case-hero">
  <div class="case-hero__media" style="background-image: url('{{ block.image }}');"></div>
  <div class="case-hero__overlay"></div>
  <div class="wrap case-hero__back-row">
    <a class="case-hero__back" href="/what-we-do/"><span aria-hidden="true">←</span> What we do</a>
  </div>
  <div class="wrap case-hero__inner">
    <p class="eyebrow">What we do</p>
    <h1 class="case-hero__title">{{ block.title }}</h1>
  </div>
</section>
